[MESSAGES CONTROL]

disable=
    invalid-name,
    missing-function-docstring,
    too-few-public-methods,
    # handled by black
    format,
    # We anticipate #3512 where it will become optional
    fixme,
    consider-using-assignment-expr,